<div>
    <form [formGroup]="forma">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>N°</th>

                    <th>Producto</th>
                    <th>Nombre Producto</th>
                    <th>Valor</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>

            <tbody *ngFor="let detalle of detallePedidosControls; let i = index" formArrayName="detallePedidos">
                <tr [formGroupName]="i">

                    <td>{{i+1}}</td>
                    <td>
                    <select class="form-control" name="productoSelect" formControlName="producto" (blur)="calcularTotal()" (change)="cambiaComboProducto(i)">
                    <option value="">Seleccione un Producto</option>
                    <option *ngFor="let produ of productoslistado; let p = index"
                    [ngSelected]="forma.value.detallePedidos[i].producto.id === produ.id" [ngValue]="produ" >{{produ.nombre}}</option>
                    </select>
                        <small *ngIf="getValidarProducto(i)" class="text-danger">Seleccione un Producto</small>
                    </td>
                    <!-- [ng-Value]="produ.id" -->
                    <td>
                        {{forma.value.detallePedidos[i].producto.nombre}}
                    </td>
                    <td>{{forma.value.detallePedidos[i].producto.precio}}</td>
                    <td>
                        <input *ngIf="forma.value.detallePedidos[i].producto.id" type="text" class="form-control" formControlName="cantidad" [value]="forma.value.detallePedidos[i].cantidad" placeholder="Cantidad" (blur)="calcularTotal()" required>
                        <small *ngIf="getValidarCantidad(i)" class="text-danger">Ingrese un numero</small>
                    </td>
                    <td>{{tablaSubtotal(i)}}</td>
                    <td><button class="btn btn-danger" *ngIf="forma.value.detallePedidos.length!=1" (blur)="calcularTotal()" (click)="borrarProducto(i)">Quitar</button></td>

                </tr>

            </tbody>
            <button class="btn btn-primary" type="button" (click)="addProducto()" (click)="calcularTotal()">Agregar Producto</button>
        </table>
        <pre>{{forma.valid}}</pre>
        <pre>{{forma.value | json}}</pre>
    </form>
</div>